html {
    background-color: #121213;
    color: white;
}

header {
    text-align: center;
    border-bottom: 1px white solid;
}

.keyboard-button {
    background-color: #818384;
    color: white;
    text-transform: uppercase;
    width: 5%;
    height: 3em;
    margin-bottom: 0.5em;
    border: none;
    border-radius: 4px;
}

.action-button {
    width: 7.5%;
}

.keyboard-row {
    text-align: center;
}

#game {
    display: grid;
}

.game-row {
    display: flex;
    gap: 3px;
    justify-content: center;
}

.row-cell {
    display: flex;
    border: 1px solid grey;
    width: 10%;
    height: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.yellow {
    background-color: #b59f3b;
}

.green {
    background-color: #538d4e;
}